{% extends "base.html" %}

{% block content %}

<style>

    .HeaderImage{
        width: 300px;
        align-self: center;

    }

    .div-LoginHeader{
        margin: auto;
        width: 50%;
        color: #36919D;
    }

    .div-LoginForm{
        margin: auto;
        background-color: #FFF;
        width: 300px;
        height: 250px;
        border: 1px solid lightgray;
        border-radius: 5%;
        padding: 20px;
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 60px;
    }

    h1{
        margin-top: 10%;
        text-align: center;
        color: #36919D;
    }

    .img {
        display: block;
        margin: auto;
        width: 50%;
        padding-top: 50px;
    }

</style>

<img src="{{url_for('static', filename='ROSE-Foundation.png')}}" style="width: 400px;" alt="logo" class="img"/>


<div class="div-LoginHeader">
    <h1>Welcome to ROSE Foundation <br> Even Attendance Prediction Tool</h1>
</div>

<div class="div-LoginForm">
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}<br>
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}<br>
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
</div>
{% endblock %}