{% extends "base.html" %}

{% block content %}

<style>
    .ResultsPageHeader{
        width: 80%;
        margin: auto;
        padding: 30px;
    }
    
    .div-ResultsForm{
        width: 80%;
        margin: auto;
        padding: 30px;
        padding-left: 50px;
        padding-right: 50px;
        margin-top: 50px;
        background-color: white;
        border-radius: 10px;
        border-color: red;
        border: 1px;
        border-style:groove;
        
    }

</style>

<div class="ResultsPageHeader">
    <h1>Results</h1>
    <p>Import Previously generated predictions.</p>
</div>

<div class="div-ResultsForm">
    <h2>Instructions</h2>
    
</div>

{% endblock %}